In [16]:
from filterpy.common import kinematic_kf
import numpy as np
from filterpy.kalman import IMMEstimator
import math
from filterpy.kalman import KalmanFilter
import pandas as pd

In [17]:
import ipynb.fs.full.filter_base as imm_filter

In [18]:
test_df_path = "C:/Users/sakif/jupyter projects/thesis_test/modular test/Untitled Folder/uni_examples_data_prepared_normal3.csv"
# delta_t = 0.4

In [19]:
test_df = pd.read_csv(test_df_path, index_col=None)

In [20]:
test_df.head()

,frame_id,ped_no,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,...,n_w_y2,n_w_y3,n_w_y4,n_w_y5,n_w_y6,n_w_y7,n_w_y8,d_w_bound,n_w_bound_x,n_w_bound_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.091173,-0.917021,-0.398839
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.268522,-0.901984,-0.431770
2,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.716202,-0.883446,-0.468532
3,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.548903,-0.861887,-0.507101
4,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.433014,-0.833295,-0.552829

In [21]:
def state_transition_matrix(v, yaw, T):
    term13 = (v/yaw) * (-math.cos(yaw) + math.cos(T * yaw + yaw))
    term14 = (-math.sin(yaw) + math.sin(T * yaw + yaw))/yaw
    term15 = T * v * math.cos(T * yaw + yaw)/ yaw - v * (-math.sin(yaw) + math.sin(T * yaw + yaw)) / yaw **2
    term23 = (v/yaw) * (-math.sin(yaw) + math.sin(T * yaw + yaw))
    term24 = (math.cos(yaw) - math.cos(T * yaw + yaw)) / yaw
    term25 = T * v * math.sin(T * yaw + yaw)/ yaw - v * (math.cos(yaw) - math.cos(T * yaw + yaw)) / yaw **2
    state_transition_matrix = np.array([[1, 0, term13, term14, term15],
                                        [0, 1, term23, term24, term25],
                                        [0, 0, 1, 0, T],
                                        [0, 0, 0, 1, 0],
                                        [0, 0, 0, 0, 1]])
    return state_transition_matrix

def direction(current_state, destination_state):
    # atan2(b1−a1,b2−a2)
    directions1 = np.linalg.norm((np.array(destination_state) - np.array(current_state)))
    # dest_tempp = np.array(destination_state) - np.array(current_state)
    # temp_d = math.atan2(dest_tempp[0], dest_tempp[1])
    # directions1 = math.degrees(temp_d)
    # print(directions1)
    return directions1

In [22]:
def imm_dest_filter(input_xy_temp, dest_list):
    start = input_xy_temp[0]
    # zone1, zone2, zone3, zone4 = [-2, 5.8566027], [-6.5902743, 0.065724367], [-6.5553084, 1.1867515], [15.10717, 5.5659299]
    zone1, zone2, zone3, zone4 = dest_list[0], dest_list[1], dest_list[2], dest_list[3]
    v, delta_t = 0.707, 0.4

    kf1 = KalmanFilter(dim_x=5, dim_z=2)
    kf2 = KalmanFilter(dim_x=5, dim_z=2)
    kf3 = KalmanFilter(dim_x=5, dim_z=2)
    kf4 = KalmanFilter(dim_x=5, dim_z=2)

    directions1, directions2, directions3 = direction(start, zone1), direction(start, zone2), direction(start, zone3)
    directions4 = direction(start, zone4)

    state_transition1 = state_transition_matrix(v, directions1, delta_t)
    state_transition2 = state_transition_matrix(v, directions2, delta_t)
    state_transition3 = state_transition_matrix(v, directions3, delta_t)
    state_transition4 = state_transition_matrix(v, directions4, delta_t)

    kf1.F, kf2.F, kf3.F, kf4.F = state_transition1, state_transition2, state_transition3, state_transition4

    # define initial state [x, y, yaw, velocity, yaw*dt]
    kf1.x = np.array([input_xy_temp[0, 0], input_xy_temp[0, 1], directions1, v, directions1*delta_t])
    kf2.x = np.array([input_xy_temp[0, 0], input_xy_temp[0, 1], directions2, v, directions2*delta_t])
    kf3.x = np.array([input_xy_temp[0, 0], input_xy_temp[0, 1], directions3, v, directions3*delta_t])
    kf4.x = np.array([input_xy_temp[0, 0], input_xy_temp[0, 1], directions4, v, directions4*delta_t])

    sGPS, sCourse, sVelocity, sYaw = 0.5*8.8*delta_t**2, 0.1*delta_t, 8.8*delta_t, 1.0*delta_t
    temp_q = np.diag([sGPS**2, sGPS**2, sCourse**2, sVelocity**2, sYaw**2])
    # process noise
    kf1.Q, kf2.Q, kf3.Q, kf4.Q = temp_q, temp_q, temp_q, temp_q
    # measurement noise
    kf1.R, kf2.R, kf3.R, kf4.R = np.identity(2)*5, np.identity(2)*5, np.identity(2)*5, np.identity(2)*5
    # Define the covariance matrix.
    # Here I take advantage of the fact that P already contains np.eye(dim_x), and just multiply by the uncertainty:
    kf1.P *= 10; kf2.P *= 10; kf3.P *= 10; kf4.P *= 10

    # define measurement function
    kf1.H = np.array([[1.0, 0.0, 0.0, 0.0, 0.0],
                    [0.0, 1.0, 0.0, 0.0, 0.0]])
    kf2.H = np.array([[1.0, 0.0, 0.0, 0.0, 0.0],
                    [0.0, 1.0, 0.0, 0.0, 0.0]])
    kf3.H = np.array([[1.0, 0.0, 0.0, 0.0, 0.0],
                    [0.0, 1.0, 0.0, 0.0, 0.0]])
    kf4.H = np.array([[1.0, 0.0, 0.0, 0.0, 0.0],
                    [0.0, 1.0, 0.0, 0.0, 0.0]])

    filters = [kf1, kf2, kf3, kf4]

    mu = [0.25, 0.25, 0.25, 0.25] # each filter is equally likely at the start

    trans = np.array([[0.90, 0.033, 0.033, 0.033], 
                      [0.033, 0.90, 0.033, 0.033], 
                      [0.033, 0.033, 0.90, 0.033],
                      [0.033, 0.033, 0.033, 0.90]
                     ]) 
    # M[i,j] is the probability of switching from filter j to filter i.

    imm = IMMEstimator(filters, mu, trans)
    for i in range(len(input_xy_temp)):
        z = input_xy_temp[i]
        imm.predict()
        imm.update(z)
    chosen_filter = np.argmax(imm.mu)
    estimated_destination = dest_list[chosen_filter]
    # print("Highest probability: ", np.max(imm.mu))
    return estimated_destination

In [23]:
[[  1.2432461,  -8.480006 ],
       [-28.782612 , -21.490444 ],
       [-23.901209 ,  -3.881793 ],
       [ -8.944366 ,  -4.999816 ]]

[[1.2432461, -8.480006],
 [-28.782612, -21.490444],
 [-23.901209, -3.881793],
 [-8.944366, -4.999816]]

In [24]:
unique_peds = np.unique(test_df['ped_no'])
dest_list = np.array(((-27.075804, -13.135107), (1.1882029, -5.680166), (-9.848106, -7.7488523), (-29.269709, -6.0478654)))
estimated_dest_list = []
for n in range(len(unique_peds)):
    test_df_indiv3 = test_df.loc[test_df['ped_no'] == unique_peds[n]]
    input_xy_temp3 = np.array(test_df_indiv3[['pos_x', 'pos_y']])
    estimated_dest_temp = imm_dest_filter(input_xy_temp3, dest_list)
    estimated_dest_list.append(estimated_dest_temp)
    # dest_temp = input_xy_temp2[-1]
    # dest_all.append(dest_temp)
#dest_all = np.array(dest_all)
estimated_dest_list = np.array(estimated_dest_list)
len(estimated_dest_list)
# estimated_dest_list

118

In [25]:
actual_dest_list = []
for n in range(len(unique_peds)):
    test_df_indiv3 = test_df.loc[test_df['ped_no'] == unique_peds[n]]
    input_xy_temp3 = np.array(test_df_indiv3[['pos_x', 'pos_y']])
    temp_n = np.argmin(np.linalg.norm((dest_list - input_xy_temp3[-1]), axis=1))
    temp_n2 = dest_list[temp_n]
    actual_dest_list.append(temp_n2)
actual_dest_list = np.array(actual_dest_list)
len(actual_dest_list)
# actual_dest_list

118

In [26]:
np.count_nonzero(actual_dest_list[:, 1] == estimated_dest_list[:, 1])

28

In [27]:
np.count_nonzero(actual_dest_list == estimated_dest_list)

56

In [28]:
df_dest = pd.DataFrame(data=estimated_dest_list, index= unique_peds)
df_dest = df_dest.rename(columns={0: "dest_x", 1: "dest_y"})

In [29]:
df_dest

        dest_x     dest_y
0    -9.848106  -7.748852
1    -9.848106  -7.748852
2    -9.848106  -7.748852
3   -27.075804 -13.135107
4    -9.848106  -7.748852
..         ...        ...
113 -29.269709  -6.047865
114  -9.848106  -7.748852
115   1.188203  -5.680166
116  -9.848106  -7.748852
117 -27.075804 -13.135107

[118 rows x 2 columns]

In [30]:
df_dest.to_csv("uni_examples_estimated_dests1.csv", columns=["dest_x", "dest_y"])