In [62]:
import pandas as pd
import numpy as np

In [63]:
dict_temp = {}
for h in range(0, 118):
    dict_temp[h] = []
# dict_temp

In [64]:
dict1 = dict_temp

In [4]:
path_group = "C:/Users/sakif/Documents/My studies/thesis/new topic/dataset/" \
             "OpenTraj-55ae4190d6507c1e6555bb7ca053e59666a2e177/" \
             "OpenTraj-55ae4190d6507c1e6555bb7ca053e59666a2e177/datasets/UCY/\\students03/groups.txt"

In [5]:
group_df = pd.read_csv(path_group, sep=" ", header=None, engine='python', names=list(range(6)), index_col=None)

In [6]:
group_df.head()

     0      1      2      3      4      5
0  103    NaN    NaN    NaN    NaN    NaN
1    6   18.0  421.0  422.0  423.0  425.0
2    7    8.0    NaN    NaN    NaN    NaN
3    9  273.0  274.0    NaN    NaN    NaN
4   10   11.0   12.0   13.0    NaN    NaN

In [7]:
group_dict = group_df.to_dict(orient="index")
group_dict

{0: {0: 103, 1: nan, 2: nan, 3: nan, 4: nan, 5: nan},
 1: {0: 6, 1: 18.0, 2: 421.0, 3: 422.0, 4: 423.0, 5: 425.0},
 2: {0: 7, 1: 8.0, 2: nan, 3: nan, 4: nan, 5: nan},
 3: {0: 9, 1: 273.0, 2: 274.0, 3: nan, 4: nan, 5: nan},
 4: {0: 10, 1: 11.0, 2: 12.0, 3: 13.0, 4: nan, 5: nan},
 5: {0: 14, 1: 15.0, 2: 16.0, 3: nan, 4: nan, 5: nan},
 6: {0: 19, 1: 20.0, 2: nan, 3: nan, 4: nan, 5: nan},
 7: {0: 21, 1: 22.0, 2: nan, 3: nan, 4: nan, 5: nan},
 8: {0: 27, 1: 29.0, 2: nan, 3: nan, 4: nan, 5: nan},
 9: {0: 28, 1: 30.0, 2: nan, 3: nan, 4: nan, 5: nan},
 10: {0: 38, 1: 39.0, 2: nan, 3: nan, 4: nan, 5: nan},
 11: {0: 45, 1: 46.0, 2: 47.0, 3: nan, 4: nan, 5: nan},
 12: {0: 55, 1: 56.0, 2: nan, 3: nan, 4: nan, 5: nan},
 13: {0: 58, 1: 59.0, 2: nan, 3: nan, 4: nan, 5: nan},
 14: {0: 70, 1: 71.0, 2: nan, 3: nan, 4: nan, 5: nan},
 15: {0: 77, 1: 78.0, 2: nan, 3: nan, 4: nan, 5: nan},
 16: {0: 142, 1: 258.0, 2: 430.0, 3: 432.0, 4: nan, 5: nan},
 17: {0: 171, 1: 172.0, 2: nan, 3: nan, 4: nan, 5: nan},
 18: {0: 183, 1: 184.0, 2: nan, 3: nan, 4: nan, 5: nan},
 19: {0: 199, 1: 289.0, 2: 290.0, 3: nan, 4: nan, 5: nan},
 20: {0: 194, 1: 195.0, 2: nan, 3: nan, 4: nan, 5: nan},
 21: {0: 217, 1: 219.0, 2: 220.0, 3: nan, 4: nan, 5: nan},
 22: {0: 232, 1: 233.0, 2: 238.0, 3: nan, 4: nan, 5: nan},
 23: {0: 248, 1: 249.0, 2: nan, 3: nan, 4: nan, 5: nan},
 24: {0: 256, 1: 418.0, 2: nan, 3: nan, 4: nan, 5: nan},
 25: {0: 264, 1: 265.0, 2: nan, 3: nan, 4: nan, 5: nan},
 26: {0: 268, 1: 269.0, 2: nan, 3: nan, 4: nan, 5: nan},
 27: {0: 270, 1: 271.0, 2: nan, 3: nan, 4: nan, 5: nan},
 28: {0: 207, 1: 279.0, 2: 280.0, 3: 281.0, 4: nan, 5: nan},
 29: {0: 316, 1: 317.0, 2: nan, 3: nan, 4: nan, 5: nan},
 30: {0: 329, 1: 330.0, 2: 331.0, 3: 332.0, 4: nan, 5: nan},
 31: {0: 412, 1: 413.0, 2: 414.0, 3: nan, 4: nan, 5: nan},
 32: {0: 419, 1: 420.0, 2: nan, 3: nan, 4: nan, 5: nan},
 33: {0: 421, 1: 422.0, 2: nan, 3: nan, 4: nan, 5: nan},
 34: {0: 468, 1: 473.0, 2: nan, 3: nan, 4: nan, 5: nan},
 35: {0: 216, 1: 215.0, 2: nan, 3: nan, 4: nan, 5: nan},
 36: {0: 214, 1: 213.0, 2: nan, 3: nan, 4: nan, 5: nan},
 37: {0: 75, 1: 4.0, 2: nan, 3: nan, 4: nan, 5: nan},
 38: {0: 80, 1: 81.0, 2: nan, 3: nan, 4: nan, 5: nan},
 39: {0: 33, 1: 34.0, 2: nan, 3: nan, 4: nan, 5: nan},
 40: {0: 84, 1: 85.0, 2: 82.0, 3: nan, 4: nan, 5: nan},
 41: {0: 300, 1: 301.0, 2: nan, 3: nan, 4: nan, 5: nan},
 42: {0: 49, 1: 48.0, 2: nan, 3: nan, 4: nan, 5: nan},
 43: {0: 90, 1: 89.0, 2: nan, 3: nan, 4: nan, 5: nan},
 44: {0: 95, 1: 94.0, 2: nan, 3: nan, 4: nan, 5: nan},
 45: {0: 230, 1: 229.0, 2: nan, 3: nan, 4: nan, 5: nan},
 46: {0: 340, 1: 222.0, 2: 343.0, 3: nan, 4: nan, 5: nan},
 47: {0: 125, 1: 126.0, 2: nan, 3: nan, 4: nan, 5: nan},
 48: {0: 253, 1: 254.0, 2: nan, 3: nan, 4: nan, 5: nan},
 49: {0: 325, 1: 324.0, 2: nan, 3: nan, 4: nan, 5: nan},
 50: {0: 150, 1: 151.0, 2: nan, 3: nan, 4: nan, 5: nan},
 51: {0: 362, 1: 363.0, 2: nan, 3: nan, 4: nan, 5: nan},
 52: {0: 205, 1: 206.0, 2: nan, 3: nan, 4: nan, 5: nan},
 53: {0: 208, 1: 209.0, 2: nan, 3: nan, 4: nan, 5: nan},
 54: {0: 304, 1: 303.0, 2: nan, 3: nan, 4: nan, 5: nan},
 55: {0: 226, 1: 223.0, 2: 224.0, 3: nan, 4: nan, 5: nan},
 56: {0: 98, 1: 99.0, 2: nan, 3: nan, 4: nan, 5: nan},
 57: {0: 228, 1: 227.0, 2: nan, 3: nan, 4: nan, 5: nan},
 58: {0: 103, 1: 72.0, 2: nan, 3: nan, 4: nan, 5: nan},
 59: {0: 108, 1: 109.0, 2: nan, 3: nan, 4: nan, 5: nan},
 60: {0: 115, 1: 116.0, 2: 114.0, 3: 117.0, 4: nan, 5: nan},
 61: {0: 120, 1: 121.0, 2: nan, 3: nan, 4: nan, 5: nan},
 62: {0: 128, 1: 127.0, 2: nan, 3: nan, 4: nan, 5: nan},
 63: {0: 138, 1: 137.0, 2: nan, 3: nan, 4: nan, 5: nan},
 64: {0: 123, 1: 121.0, 2: nan, 3: nan, 4: nan, 5: nan},
 65: {0: 147, 1: 146.0, 2: nan, 3: nan, 4: nan, 5: nan},
 66: {0: 149, 1: 148.0, 2: nan, 3: nan, 4: nan, 5: nan},
 67: {0: 335, 1: 336.0, 2: nan, 3: nan, 4: nan, 5: nan},
 68: {0: 176, 1: 177.0, 2: nan, 3: nan, 4: nan, 5: nan},
 69: {0: 192, 1: 191.0, 2: nan, 3: nan, 4: nan, 5: nan},
 70: {0: 52, 1: 53.0, 2: nan, 3: nan, 4: nan, 5: nan},
 71: {0: 61, 1: 60.0, 2: nan, 3: nan, 4: nan, 5: nan},
 72: {0: 63, 1: 62.0, 2: nan, 3: nan, 4: nan, 5: nan},
 73: {0: 65, 1: 64.0, 2: 66.0, 3: nan, 4: nan, 5: nan},
 74: {0: 107, 1: 106.0, 2: nan, 3: nan, 4: nan, 5: nan},
 75: {0: 111, 1: 112.0, 2: nan, 3: nan, 4: nan, 5: nan},
 76: {0: 140, 1: 141.0, 2: nan, 3: nan, 4: nan, 5: nan},
 77: {0: 354, 1: 355.0, 2: nan, 3: nan, 4: nan, 5: nan},
 78: {0: 392, 1: 391.0, 2: nan, 3: nan, 4: nan, 5: nan},
 79: {0: 319, 1: 318.0, 2: nan, 3: nan, 4: nan, 5: nan},
 80: {0: 345, 1: 346.0, 2: nan, 3: nan, 4: nan, 5: nan},
 81: {0: 244, 1: 245.0, 2: nan, 3: nan, 4: nan, 5: nan},
 82: {0: 293, 1: 294.0, 2: nan, 3: nan, 4: nan, 5: nan},
 83: {0: 292, 1: 295.0, 2: nan, 3: nan, 4: nan, 5: nan},
 84: {0: 36, 1: 35.0, 2: nan, 3: nan, 4: nan, 5: nan},
 85: {0: 68, 1: 69.0, 2: nan, 3: nan, 4: nan, 5: nan},
 86: {0: 237, 1: 236.0, 2: nan, 3: nan, 4: nan, 5: nan},
 87: {0: 379, 1: 378.0, 2: nan, 3: nan, 4: nan, 5: nan},
 88: {0: 246, 1: 247.0, 2: nan, 3: nan, 4: nan, 5: nan},
 89: {0: 133, 1: 130.0, 2: 132.0, 3: 129.0, 4: nan, 5: nan},
 90: {0: 393, 1: 395.0, 2: nan, 3: nan, 4: nan, 5: nan},
 91: {0: 361, 1: 360.0, 2: nan, 3: nan, 4: nan, 5: nan},
 92: {0: 197, 1: 196.0, 2: nan, 3: nan, 4: nan, 5: nan},
 93: {0: 189, 1: 190.0, 2: nan, 3: nan, 4: nan, 5: nan},
 94: {0: 309, 1: 308.0, 2: nan, 3: nan, 4: nan, 5: nan},
 95: {0: 353, 1: 351.0, 2: 350.0, 3: 352.0, 4: nan, 5: nan},
 96: {0: 119, 1: 118.0, 2: nan, 3: nan, 4: nan, 5: nan},
 97: {0: 357, 1: 356.0, 2: nan, 3: nan, 4: nan, 5: nan},
 98: {0: 152, 1: 154.0, 2: 153.0, 3: nan, 4: nan, 5: nan},
 99: {0: 163, 1: 164.0, 2: nan, 3: nan, 4: nan, 5: nan},
 100: {0: 211, 1: 210.0, 2: nan, 3: nan, 4: nan, 5: nan},
 101: {0: 358, 1: 160.0, 2: nan, 3: nan, 4: nan, 5: nan},
 102: {0: 298, 1: 299.0, 2: nan, 3: nan, 4: nan, 5: nan},
 103: {0: 427, 1: 429.0, 2: 428.0, 3: nan, 4: nan, 5: nan}}

In [8]:
tt_arr2 = []
for s in range(len(group_dict)):
    tt_arr = []
    for p in range(6):
        if not np.isnan(group_dict[s][p]):
            tt_arr.append(group_dict[s][p])
    tt_arr2.append(tt_arr)
tt_arr2 = np.array(tt_arr2)

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [9]:
# tt_arr2

In [10]:
temp_array = tt_arr2

In [11]:
for x in range(len(temp_array)):
    temp_x = temp_array[x]
    # print(temp_x)
    for p in range(len(temp_x)):
        temp_p = np.delete(temp_x, p)
        dict1[temp_x[p]].append(temp_p.tolist())

# dict1

In [65]:
path_eth_normal = "C:/Users/sakif/jupyter projects/thesis_test/modular test/Untitled Folder/test_uni_examples_normal.csv"

In [66]:
df_eth = pd.read_csv(path_eth_normal, index_col=None)

In [67]:
(np.unique(df_eth["agent_id"]))

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117], dtype=int64)

In [68]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,label,timestamp,vel_x,vel_y
0,10,0,-26.677220,-11.602686,0,pedestrian,0.4,7.458618,0.651785
1,20,0,-23.693773,-11.341972,0,pedestrian,0.8,7.458618,0.651785
2,30,0,-20.951992,-11.111809,0,pedestrian,1.2,6.854453,0.575408
3,40,0,-18.572710,-10.927472,0,pedestrian,1.6,5.948206,0.460843
4,50,0,-16.193427,-10.743134,0,pedestrian,2.0,5.948206,0.460843

In [69]:
from collections import Counter

def printRepeating(arr, n):
   
    # Counting freequencies
    freq = Counter(arr)
    multiple_list_frame = []
     
    # Traverse the freq dictionary and
    # print all the keys whose valuee
    # is greater than 1
    for i in freq:
        if(freq[i] > 1):
            # print(i, end=" ")
            multiple_list_frame.append([i,freq[i]])
    return multiple_list_frame

In [70]:
frame_number = np.array(df_eth["frame_id"])

In [71]:
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

9

412

In [19]:
# printRepeating(frame_number, len(frame_number))

In [20]:
# printRepeating(frame_number, len(frame_number))

In [72]:
input_xy = df_eth.values[:, 2:4].astype('float32')
input_xy[0]

array([-26.67722 , -11.602686], dtype=float32)

In [73]:
# 10 because maximum of 5 groupmates, 5*2 co-ordinate values (x,y)
temp_g_array = []
for p in range(len(input_xy)):
    temp_g_array.append(np.zeros(12))
    
temp_g_array = np.array(temp_g_array)
temp_g_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [74]:
temp_g_array.shape

(2609, 12)

In [75]:
len(frame_multiple)

673

In [25]:
# in timesteps where there are multiple pedes, there's a possibility to find groupmates
# so we iteratively find those cases and corresponding peds
# then see if those pedestrian have groupmates 
# if they have groupmates, then see if those groupmates are present at that time steps
# if so get the corresponding group-mate positions
# voila we get the groupmate positions

# len(frame_multiple)
for j in range(len(frame_multiple)):
    
    # print("count:", j)
    # print(frame_multiple[j, 0])
    
    result = np.where(frame_number==frame_multiple[j, 0])
    # print("result", result)
    result2 = result[0]
    # print("result2: ", result2)
    # temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    
    test_df_indiv = df_eth.loc[df_eth['frame_id'] == frame_multiple[j, 0]]
    # print("test_df_indiv: ", test_df_indiv)
    ped_id_array = np.array(test_df_indiv['agent_id'])
    # print("ped_id_array: ", ped_id_array)
    
    for h in range(len(ped_id_array)):
        # print(ped_id_array[h])
        a = np.array(dict1[ped_id_array[h]]).flatten()
        # print("a: ", a)

        temp_loc_array = []
        for k in range(len(a)):
            # print("a[k]: ", a[k])
            if a[k] in ped_id_array:
                temp_loc = np.where(ped_id_array == a[k])
                # print("temp_loc: ", temp_loc)
                temp_loc_array.append(temp_loc)
                # print("true")
            else: pass
        temp_loc_array = np.array(temp_loc_array).flatten()
        # print("temp location array:", temp_loc_array)
        temp_loc_array2 = []
        temp_group_set = [[0, 0]]
        # find the group members: their positions
        for d in range(len(temp_loc_array)):
            loc2 = result2[temp_loc_array[d]]
            # print("loc2: ", loc2)
            temp_loc_array2.append(loc2)
            temp_group_memb = input_xy[loc2]
            temp_group_set.append(temp_group_memb)

        temp_loc_array2 = np.array(temp_loc_array2).flatten()
        temp_group_set = np.array(temp_group_set)
        # print((temp_group_set))
        
        for n in range(7 - len(temp_group_set)):
            # print(temp_group_set)
            temp_group_set = np.concatenate((temp_group_set, [[0, 0]]), axis=0)
        # print(temp_group_set)
        # print("change or update at this location: ", result2[change_loc])
        change_loc = np.where(ped_id_array == ped_id_array[h])
        # print("change or update at this location: ", result2[change_loc])
        temp_group_set = temp_group_set[1:]
        temp_group_set = temp_group_set.flatten()
        # print(len(temp_group_set))
        temp_g_array[result2[change_loc]] = temp_group_set
        

temp_g_array

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:27: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:33: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [26]:
temp_g_array[619]

array([  0.67022789,  -3.56142879, -14.04626465, -11.16815281,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ])

In [27]:
np.array(df_eth["agent_id"])[-1]

433

In [28]:
np.unique(temp_g_array)

array([-30.26311874, -30.22306252, -30.06219673, ...,   2.78533387,
         2.81125569,   2.81340981])

In [29]:
# next find the required parameters: 'centroid_dist', 'rotation_angle'
# how to choose a leader? try choosing randomly? or somehow relate to distance to destination??
# borrow the formulas for parameters: especially rotation angle

In [76]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,label,timestamp,vel_x,vel_y
0,10,0,-26.677220,-11.602686,0,pedestrian,0.4,7.458618,0.651785
1,20,0,-23.693773,-11.341972,0,pedestrian,0.8,7.458618,0.651785
2,30,0,-20.951992,-11.111809,0,pedestrian,1.2,6.854453,0.575408
3,40,0,-18.572710,-10.927472,0,pedestrian,1.6,5.948206,0.460843
4,50,0,-16.193427,-10.743134,0,pedestrian,2.0,5.948206,0.460843

In [77]:
df_eth = df_eth.drop(["label", "timestamp"], axis=1)

In [78]:
df_eth.head()

   frame_id  agent_id      pos_x      pos_y  scene_id     vel_x     vel_y
0        10         0 -26.677220 -11.602686         0  7.458618  0.651785
1        20         0 -23.693773 -11.341972         0  7.458618  0.651785
2        30         0 -20.951992 -11.111809         0  6.854453  0.575408
3        40         0 -18.572710 -10.927472         0  5.948206  0.460843
4        50         0 -16.193427 -10.743134         0  5.948206  0.460843

In [33]:
df_eth.insert(7, "g1_x", temp_g_array[:, 0])

In [34]:
df_eth.head()

   frame_id  agent_id     pos_x     pos_y  scene_id     vel_x     vel_y  g1_x
0        10         0 -4.659964 -8.678696         0  1.470409  0.583279   0.0
1        20         0 -4.071801 -8.445384         0  1.470409  0.583279   0.0
2        30         0 -3.483638 -8.212072         0  1.470409  0.583279   0.0
3        40         0 -2.899457 -7.970905         0  1.460452  0.602917   0.0
4        50         0 -2.324569 -7.711410         0  1.437220  0.648739   0.0

In [35]:
df_eth.insert(8, "g1_y", temp_g_array[:, 1])
df_eth.insert(9, "g2_x", temp_g_array[:, 2])
df_eth.insert(10, "g2_y", temp_g_array[:, 3])
df_eth.insert(11, "g3_x", temp_g_array[:, 4])
df_eth.insert(12, "g3_y", temp_g_array[:, 5])
df_eth.insert(13, "g4_x", temp_g_array[:, 6])
df_eth.insert(14, "g4_y", temp_g_array[:, 7])
df_eth.insert(15, "g5_x", temp_g_array[:, 8])
df_eth.insert(16, "g5_y", temp_g_array[:, 9])
df_eth.insert(17, "g6_x", temp_g_array[:, 10])
df_eth.insert(18, "g6_y", temp_g_array[:, 11])

In [36]:
df_eth.tail()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y,g6_x,g6_y
17473,5350,433,-2.359579,-8.968975,0,-0.431661,0.074034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17474,5360,433,-2.511268,-8.936154,0,-0.379221,0.082052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17475,5370,433,-2.654832,-8.851320,0,-0.358911,0.212086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17476,5380,433,-2.790273,-8.714472,0,-0.338601,0.342120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17477,5390,433,-2.925713,-8.577624,0,-0.338601,0.342120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
all_pos_array= np.array(df_eth[["pos_x", "pos_y", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", 
                                "g5_x", "g5_y", "g6_x", "g6_y"]])

In [38]:
# a[start:stop:step] # start through not past stop, by step

In [39]:
(np.trim_zeros(all_pos_array[-1]))

array([-2.92571317, -8.57762373])

In [15]:
import random
import math

In [14]:
len(all_pos_array)

NameError: name 'all_pos_array' is not defined

In [42]:
centroid_list = []
max_angle_list = []
eta_centroid_list = []
for p in range(len(all_pos_array)):
    pos_temp_array = all_pos_array[p]
    pos_temp_array = np.trim_zeros(pos_temp_array)
    # print(pos_temp_array)

    
    # just put a condition to skip when there is no group
    if len(pos_temp_array) == 2: max_angle, centroid_dist = 0, 0; eta_centroid = [0, 0]

    else: 
        # Centroid distance
        x_array = pos_temp_array[0::2]
        y_array = pos_temp_array[1::2]
        ci = np.array([np.sum(x_array)/len(y_array), np.sum(y_array)/len(y_array)])
        # print("centroid point: ", ci)

        centroid_dist = np.linalg.norm(pos_temp_array[:2] - ci)
        eta_centroid = (ci - pos_temp_array[:2])/centroid_dist
        # print("centroid distance: ", eta_centroid)

        if len(pos_temp_array) == 4: choice_leader = random.choice([0, 2])
        elif len(pos_temp_array) == 6: choice_leader = random.choice([0, 2, 4])
        elif len(pos_temp_array) == 8: choice_leader = random.choice([0, 2, 4, 6])
        else: choice_leader = random.choice([0, 2, 4, 6, 8])

        leader = pos_temp_array[choice_leader: (choice_leader + 2)] 
        # print(choice_leader + 2)
        # print(leader)

        # break
        dist, max_angle, fov_factor = 1000000, 0, 181
        for m in range(int(len(pos_temp_array)/2)):
                view_angle = math.degrees((math.atan2(leader[0], leader[1]) - math.atan2(pos_temp_array[m], 
                                                                                         pos_temp_array[m+1])))
                if (view_angle < 0): view_angle += 360

                if view_angle <= fov_factor and view_angle >= (360- fov_factor): continue

                if view_angle <= fov_factor: 
                    min_rotation_angle = fov_factor - view_angle
                else:
                    min_rotation_angle = view_angle - (360 - fov_factor)

                if min_rotation_angle > max_angle: 
                    max_angle = min_rotation_angle
                # print("max_angle: ", max_angle, "\n")
                max_angle = math.radians(max_angle)
    centroid_list.append(centroid_dist)
    max_angle_list.append(max_angle)
    eta_centroid_list.append(eta_centroid)

centroid_list = np.array(centroid_list)
max_angle_list = np.array(max_angle_list)
eta_centroid_list = np.array(eta_centroid_list)

print(len(centroid_list))
print(len(max_angle_list))
print(eta_centroid_list.shape)

17478
17478
(17478, 2)

In [43]:
max_angle_list

array([0., 0., 0., ..., 0., 0., 0.])

In [44]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y,g6_x,g6_y
0,10,0,-4.659964,-8.678696,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,0,-4.071801,-8.445384,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0,-3.483638,-8.212072,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40,0,-2.899457,-7.970905,0,1.460452,0.602917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50,0,-2.324569,-7.711410,0,1.437220,0.648739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
df_eth = df_eth.drop(["scene_id", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", "g5_x", 
                      "g5_y", "g6_x", "g6_y"], axis=1)

In [46]:
df_eth.head()

   frame_id  agent_id     pos_x     pos_y     vel_x     vel_y
0        10         0 -4.659964 -8.678696  1.470409  0.583279
1        20         0 -4.071801 -8.445384  1.470409  0.583279
2        30         0 -3.483638 -8.212072  1.470409  0.583279
3        40         0 -2.899457 -7.970905  1.460452  0.602917
4        50         0 -2.324569 -7.711410  1.437220  0.648739

In [79]:
# 'centroid_dist', 'rotation_angle'
temp_group_array = np.zeros((2609, 3))

In [80]:
df_eth["rotation_angle"] = temp_group_array[:, 0]
df_eth["eta_group_x"] = temp_group_array[:, 1]
df_eth["eta_group_y"] =temp_group_array[:, 2]

In [81]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0
3,40,0,-18.572710,-10.927472,0,5.948206,0.460843,0.0,0.0,0.0
4,50,0,-16.193427,-10.743134,0,5.948206,0.460843,0.0,0.0,0.0

In [55]:
def get_x_y_co(x0, y0, radius):
    arr=[]
    x_ = np.arange(x0 - radius - 1, x0 + radius + 1, dtype=int)
    y_ = np.arange(y0 - radius - 1, y0 + radius + 1, dtype=int)
    x, y = np.where((x_[:,np.newaxis] - x0)**2 + (y_ - y0)**2 <= radius**2)
    print(x, y)
    # x, y = np.where((np.hypot((x_-x0)[:,np.newaxis], y_-y0)<= radius)) # alternative implementation
    for x, y in zip(x_[x], y_[y]):
        arr.append([x,y])
    
    return arr

In [56]:
x_line1 = np.linspace(6.000, 0, num=20)
y_line1 = np.linspace(2.000, 2.000, num=20)

x_line2 = np.linspace(0, 0, num=20)
y_line2 = np.linspace(2, 0, num=20)

x_line3 = np.linspace(0, 1.5, num=20)
y_line3 = np.linspace(0, 0, num=20)

x_line4 = np.linspace(1.5, 1.5, num=20)
y_line4 = np.linspace(0, -10, num=20)

xy_line1 = []
xy_line2 = []
xy_line3 = []
xy_line4 = []

for j in range(20):
    temp_xy1 = [x_line1[j], y_line1[j]]
    temp_xy2 = [x_line2[j], y_line2[j]]
    temp_xy3 = [x_line3[j], y_line3[j]]
    temp_xy4 = [x_line4[j], y_line4[j]]

    xy_line1.append(temp_xy1)
    xy_line2.append(temp_xy2)
    xy_line3.append(temp_xy3)
    xy_line4.append(temp_xy4)

xy_line1 = np.array(xy_line1)
xy_line2 = np.array(xy_line2)
xy_line3 = np.array(xy_line3)
xy_line4 = np.array(xy_line4)

space_cords_total = np.concatenate((xy_line1, xy_line2, xy_line3, xy_line4), axis=0)

# space_cords_total = space_cords_temp
space_cords_total.shape

(80, 2)

In [82]:
df_eth = df_eth.sort_values(by=['frame_id', 'agent_id'], ascending=True)
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0

In [83]:
input_xy[0]

array([-26.67722 , -11.602686], dtype=float32)

In [57]:
# get nearby obstacles
nearby_obstacle_list = []
distance_to_nearby_obstacle = []
for k in range(len(input_xy)):
    # print(k)
    space_dist = input_xy[k] - space_cords_total
    temp_dist = []
    
    # print(space_dist)
    for x in range(len(space_dist)):
        temp_x = np.linalg.norm(space_dist[x])
        temp_dist.append(temp_x)

    temp_dist = np.array(temp_dist)
    temp_dist2 = min(temp_dist)
    temp_index = np.argmin(temp_dist)
    # print(temp_index)
    temp_cords = space_cords_total[temp_index]
    distance_to_nearby_obstacle.append(temp_dist2)
    # print(temp_cords)
    
    nearby_obstacle_list.append(temp_cords)
    
nearby_obstacle_list = np.array(nearby_obstacle_list)
distance_to_nearby_obstacle = np.array(distance_to_nearby_obstacle)
print(len(nearby_obstacle_list))
print(len(distance_to_nearby_obstacle))
print(distance_to_nearby_obstacle)

2609
2609
[313.43579885 277.51936869 241.19628698 ... 145.12685246 141.75472952
 143.5557383 ]

In [84]:
nearby_obstacle_list = np.zeros((2609, 2))

In [85]:
df_eth['bound_x'] = nearby_obstacle_list[:, 0]
df_eth['bound_y'] = nearby_obstacle_list[:, 1]

In [86]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,bound_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,0.0,0.0
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,0.0,0.0
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,0.0,0.0

In [87]:
frame_number = np.array(df_eth["frame_id"])
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

9

412

In [88]:
temp_n_array = []
for p in range(len(input_xy)):
    temp_n_array.append(np.zeros(16))
    
temp_n_array = np.array(temp_n_array)
temp_n_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [89]:
# it is this process to get neighbors
# go through it and put 
# print(len(temp_ped_set1))
# temp_ped_set1 = np.delete(temp_ped_set, x, axis=0), iterate this x in range(len(temp_ped_State)) 
# then append zeroes to reach 26 neighbours
# temp_ped_set1 = np.delete(temp_ped_set, 0, axis=0)
# print(temp_ped_set1)
# temp_ped_set
for j in range(len(frame_multiple)):
    # print(j)
    result = np.where(frame_number==frame_multiple[j, 0])
    result2 = result[0]
    # print(result2)
    temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    # temp_dw_Set2 = []
    # for k in range(len(temp_ped_set)):
     #   temp_dw = np.linalg.norm(input_xy[frame_multiple2[j, 0]])
    

    for s in range(len(temp_ped_set)):
        temp_ped_set1 = np.delete(temp_ped_set, s, axis=0)
        for k in range((9 - len(temp_ped_set))):
            temp_ped_set1 = np.concatenate((temp_ped_set1, [[0, 0]]), axis=0)
        temp_ped_set1 = temp_ped_set1.flatten()
        temp_n_array[result2[s]] = temp_ped_set1
    

temp_n_array

array([[  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [-20.95199203, -11.11180878,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [-23.69377327, -11.34197235,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [ -6.48272991,  -4.75449991,  -7.58824015, ...,   0.        ,
          0.        ,   0.        ],
       [ -5.46958637,  -4.75449753,  -7.58824015, ...,   0.        ,
          0.        ,   0.        ],
       [ -5.46958637,  -4.75449753,  -6.48272991, ...,   0.        ,
          0.        ,   0.        ]])

In [90]:
temp_dw_array = []
for p in range(len(input_xy)):
    temp_dw_array.append(np.zeros(8))
temp_dw_array = np.array(temp_dw_array)

temp_nw_array = []
for p in range(len(input_xy)):
    temp_nw_array.append(np.zeros((8, 2)))
temp_nw_array = np.array(temp_nw_array)

In [91]:
# to get dw and nw for all neighbours
for x in range(len(input_xy)):
    temp_dw_set2 = []
    temp_nw_set2 = []
    point1 = input_xy[x]
    point2_set = temp_n_array[x, :]
    point2_set = np.reshape(point2_set, (8,2))
    for j in range(len(point2_set)):
        # print(point2_set[j])
        if np.all(point2_set[j] == [0, 0]):
            temp_dw = 0
            temp_nw = [0, 0]
        else:
            temp_dw = np.linalg.norm(point1 - point2_set[j])
            temp_nw = (point1 - point2_set[j])/temp_dw
        temp_dw_set2.append(temp_dw)
        temp_nw_set2.append(temp_nw)
    temp_dw_set2 = np.array(temp_dw_set2)
    temp_nw_set2 = np.array(temp_nw_set2)
    temp_dw_array[x] = temp_dw_set2
    temp_nw_array[x] = temp_nw_set2
               
temp_dw_array.shape

(2609, 8)

In [92]:
df_eth['n1_x'] = temp_n_array[:, 0]
df_eth['n1_y'] = temp_n_array[:, 1]
df_eth['n2_x'] = temp_n_array[:, 2]
df_eth['n2_y'] = temp_n_array[:, 3]
df_eth['n3_x'] = temp_n_array[:, 4]
df_eth['n3_y'] = temp_n_array[:, 5]
df_eth['n4_x'] = temp_n_array[:, 6]
df_eth['n4_y'] = temp_n_array[:, 7]
df_eth['n5_x'] = temp_n_array[:, 8]
df_eth['n5_y'] = temp_n_array[:, 9]
df_eth['n6_x'] = temp_n_array[:, 10]
df_eth['n6_y'] = temp_n_array[:, 11]
df_eth['n7_x'] = temp_n_array[:, 12]
df_eth['n7_y'] = temp_n_array[:, 13]
df_eth['n8_x'] = temp_n_array[:, 14]
df_eth['n8_y'] = temp_n_array[:, 15]

In [93]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,...,n4_x,n4_y,n5_x,n5_y,n6_x,n6_y,n7_x,n7_y,n8_x,n8_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
len(df_eth.columns)

28

In [95]:
df_eth.columns

Index(['frame_id', 'agent_id', 'pos_x', 'pos_y', 'scene_id', 'vel_x', 'vel_y',
       'rotation_angle', 'eta_group_x', 'eta_group_y', 'bound_x', 'bound_y',
       'n1_x', 'n1_y', 'n2_x', 'n2_y', 'n3_x', 'n3_y', 'n4_x', 'n4_y', 'n5_x',
       'n5_y', 'n6_x', 'n6_y', 'n7_x', 'n7_y', 'n8_x', 'n8_y'],
      dtype='object')

In [50]:
74 - 27

47

In [51]:
for p in range(48):
    label_x2 = "n" + str(28+p) + "_x"
    label_y2 = "n" + str(28+p) + "_y"
    df_eth[label_x2] = temp_n_array[:, 54+p]
    df_eth[label_y2] = temp_n_array[:, 55+p]
    # df_eth.insert(65+p, label_x2, temp_n_array[:, 51+p])
    # df_eth.insert(66+p, label_y2, temp_n_array[:, 52+p])

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """
c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.

In [96]:
for k in range(8):
    label_x = "d_w"
    label_x2 = label_x + str(1 + k)
    df_eth[label_x2] = temp_dw_array[:, 0+k]

In [97]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,...,n8_x,n8_y,d_w1,d_w2,d_w3,d_w4,d_w5,d_w6,d_w7,d_w8
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,2.751425,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,2.751425,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,...,0.0,0.0,2.386412,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,2.386412,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
for k in range(8):
    label_nw_x = "n_w_x"
    label_nw_x2 = label_nw_x + str(1 + k)
    df_eth[label_nw_x2] = temp_nw_array[:, 0+k, 0]

In [99]:
for k in range(8):
    label_nw_y = "n_w_y"
    label_nw_y2 = label_nw_y + str(1 + k)
    df_eth[label_nw_y2] = temp_nw_array[:, 0+k, 1]

In [100]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,...,n_w_x7,n_w_x8,n_w_y1,n_w_y2,n_w_y3,n_w_y4,n_w_y5,n_w_y6,n_w_y7,n_w_y8
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,-0.083652,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.083652,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,...,0.0,0.0,-0.077244,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.077244,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
bound_xy = df_eth.values[:, 8:10].astype('float32')
bound_xy[0]

array([0., 0.], dtype=float32)

In [102]:
# eucledian distance dw
dw_bound = []
nw_bound = []
for n in range(len(input_xy)):
    temp_dw = np.linalg.norm(input_xy[n] - bound_xy[n])
    temp_nw = (input_xy[n] - bound_xy[n])/temp_dw
    dw_bound.append(temp_dw)
    nw_bound.append(temp_nw)
dw_bound = np.array(dw_bound)
nw_bound = np.array(nw_bound)

# print(dw_bound[:10])
# print(nw_bound[:10])

In [103]:
df_eth["d_w_bound"] = dw_bound
df_eth["n_w_bound_x"] = nw_bound[:, 0]
df_eth["n_w_bound_y"] = nw_bound[:, 1]

In [104]:
df_eth = df_eth.rename(columns={'agent_id':'ped_no'})

In [105]:
df_eth.head()

,frame_id,ped_no,pos_x,pos_y,scene_id,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,...,n_w_y2,n_w_y3,n_w_y4,n_w_y5,n_w_y6,n_w_y7,n_w_y8,d_w_bound,n_w_bound_x,n_w_bound_y
0,10,0,-26.677220,-11.602686,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.091173,-0.917021,-0.398839
1,20,0,-23.693773,-11.341972,0,7.458618,0.651785,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.268522,-0.901983,-0.431770
18,20,1,-26.507906,-8.291869,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.716202,-0.883446,-0.468532
2,30,0,-20.951992,-11.111809,0,6.854453,0.575408,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.548903,-0.861887,-0.507101
19,30,1,-23.329078,-7.996528,0,7.947069,0.738351,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.433014,-0.833295,-0.552829

In [106]:
df_eth.to_csv("uni_examples_data_prepared_normal3.csv", index=False)